# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
api/.idea/api.iml
api/.idea/inspectionProfiles/profiles_settings.xml
api/.idea/misc.xml
api/.idea/modules.xml
api/.idea/vcs.xml
api/.idea/workspace.xml
api/__pycache__/main.cpython-39.pyc
api/__pycache__/main.cpython-39.pyc
api/__pycache__/main.cpython-39.pyc
